@font-face {
    font-family: sasquatchFont;
    src: url('../filmfonts_jurassic-park/jurassic_park.ttf');
}

body {
  display:flex;
  position: absolute;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-image: url('../images/shady-forest.jpg');
}

main{
  margin-top: 50px;
  display:flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
}

header{
  display:flex;
  position: relative;
  flex-direction: column;
  align-items:center;
  width: 100%;
  background-color: #ecece4;
  opacity: .9;
  border-bottom-style: solid;
  border-width: thin;

}

 nav{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   height: 20px;
   width:inherit;
   background-color: #ecece4;
   opacity: .9;
   margin-bottom: 5px;
 }

 section {
   background-color: #ecece4;
   opacity: .9;
   margin: 5px auto;
   width: inherit;
   border: black solid thin;
 }

 section > div {
   margin: 10px auto;
 }

h3 {
  padding: 0px 15px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  text-align: center;
}

p {
  margin-left: 10px;
}

 a {
   text-decoration: none;
   font-family: 'Shadows Into Light', cursive;
   font-size: 20px;
   color: black;
 }

 a:hover {
   color: green;
 }

 footer{
   position: relative;
   bottom: 0;
   right: 0;
   left: 0;
   border-top-style: solid;
   border-width: thin;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: inherit;
   background-color: #ecece4;
   opacity: .9;
   margin-top: 50px;
   height: 40px;
   padding-top: 15px;
 }

.Name-Header{
  width:100%;
  height: 150px;
  line-height: 20px;
}

.Logo{
  height:150px;
  width:150px;
  border: black solid thin;
  position: absolute;
}
.Game-Name{
  font-family: sasquatchFont;
  text-align: center;
  vertical-align: middle;
}

.Story > p {
  text-indent: 1.5em;
}

.Rules > p{
  text-indent: 1.5em;
  text-align: left;
}

.Image-Animation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 50px;
  min-width: 30%;
  border: solid black thin;
}

.Die-Container{
  border: solid black thin;
}

.Die-Row > img {
    max-height: 50px;
    max-width: 50px;
    object-fit: scale-down;
    border-style:solid;
    border-width:medium;
    margin: 5px;
}

 .Status-Board{
   text-align: center;
   border: solid black thin;
   width: 60%;
   min-height: 200px;
 }

 .Die-Row{
   display: flex;
   justify-content: center;
   width: 90%;
   min-height: 50px;
   margin: 5px auto;
 }

 .Button-Row{
   display: flex;
   justify-content: space-between;
   width: 30%;
   margin: 5px auto;
 }

 .claw {
   border-color: red;
 }

 .camera {
   border-color: green;
 }

 .Username-And-Difficulty {
   text-align: center;
   height: 50px;
 }

#difficulty {
  margin-top: 10px;
}

#orange-dice > img{
  background-color: orange;
}

#gray-dice > img{
  background-color: lightGray;
}

#blue-dice > img{
  background-color: skyBlue;
}
