.Story > p {
  text-indent: 1.5em;
}

.Rules > p {
  text-indent: 1.5em;
  text-align: left;
}

.Image-Animation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 50px;
  min-width: 30%;
}

.Image-Animation > img{
  margin-top: 10px;
  width: 300px;
  object-fit: scale-down;
}

.Die-Row > img {
    max-height: 50px;
    max-width: 50px;
    object-fit: scale-down;
    border-style:solid;
    border-width:medium;
    margin: 5px;
}

 .Status-Board{
   text-align: center;
   width: 60%;
   min-height: 200px;
 }

 .Die-Row{
   display: flex;
   justify-content: center;
   width: 90%;
   min-height: 50px;
   margin: 5px auto;
 }

 .Button-Row{
   display: flex;
   justify-content: space-between;
   width: 30%;
   margin: 5px auto;
 }

 .claw {
   border-color: red;
 }

 .camera {
   border-color: green;
 }

 .Username-And-Difficulty {
   text-align: center;
   height: 50px;
 }


#difficulty {
  margin-top: 10px;
}

#orange-dice > img{
  background-color: orange;
}

#gray-dice > img{
  background-color: lightGray;
}

#blue-dice > img{
  background-color: skyBlue;
}
