table {
  border-collapse: collapse;
  margin: auto 10px auto 10px;
}

table, th, td {
  border: solid black thin;
}

th, td {
  width: 150px;
}

.Form-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Score-Container {
  flex-direction: column;
  align-items: center;
}

.Table-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Chart-Container {
  height: 400px;
}

#Log-In {
  display: block;
}

#Welcome-Container {
  display: none;
}

#Points-Container {
  display: none;
}

#Graph-Container {
  display:none;
}
