@font-face {
  font-family: sasquatchFont;
  src: url('../filmfonts_jurassic-park/jurassic_park.ttf');
}

body {
  display:flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url('../images/diceforest3.jpeg');
}

main {
  display:flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
}

header{
  display:flex;;
  flex-direction: column;
  align-items:center;
  width: 100%;
  background-color: #ecece4;
  border-bottom-style: solid;
  border-width: thin;
  margin-bottom: 10px;
}

nav{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20px;
  width:inherit;
  background-color: #ecece4;
}

section {
  background-color: #ecece4;
  margin: 5px auto;
}

/*section {
  margin: 20px;
  width: 100%;
}*/

img {
  max-height: 50px;
  max-width: 50px;
  object-fit: scale-down;
  border-style:solid;
  border-width:medium;
  margin: 5px;
}

 a {
    text-decoration: none;
 }

 .Name-Header{
   width:100%;
   height: 60px;
   line-height: 20px;
 }

 .Logo{
   height:150px;
   width:150px;
   border: black solid thin;
   position: absolute;
 }
 .Game-Name{
   font-family: sasquatchFont;
   text-align: center;
   vertical-align: middle;
 }

 .Sign-In {
   /*background-color: #ecece4;*/
 }


#Log-In {
  display: block;
}

#Welcome-Container {
  display: none;
}

.Form-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Difficulty-Container {
  display: flex;
}

#Points-Container {
  display: none;
}

.Score-Container {
  flex-direction: column;
  align-items: center;
  /*background-color: #ecece4;*/
}

.Table-Container {
  display: flex;
  flex-direction: row;
}

#Graph-Container {
  display:none;
}

.Chart-Container {
  /*background-color: #ecece4;*/
  height: 400px;
}

table {
  border-collapse: collapse;
  margin: auto 10px auto 10px;
}

table, th, td {
  border: solid black thin;
}

th, td {
  width: 150px;
}

footer{
  border-top-style: solid;
  border-width: thin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: inherit;
  background-color: #ecece4;
}
