main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height:100px;
  width:inherit;
  background-color: skyblue;
}

 nav{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   height: 20px;
   width:inherit;
   background-color: pink;
 }
 .Logo{
   display: flex;
   height:100%;
   width:150px;
   border: black solid thin;
   margin-left: 25px;
 }
 .Game-Name{
   margin-left: 100px;
 }

section {
  margin: 20px;
  width: 100%;
}

.Form-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Difficulty-Container {
  display: flex;
}

.Score-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
}

.Table-Container {
  display: flex;
  flex-direction: row;
}

.Chart-Container {
  background-color: beige;
  height: 400px;
}

table {
  border-collapse: collapse;
  margin: auto 10px auto 10px;
}

table, th, td {
  border: solid black thin;
}

th, td {
  width: 150px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: inherit;
  background-color: teal;
}
